@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {

  font-size: 16px;

  /* Colors */
  --clr-primary: hsl(0, 60%, 39%);
  --clr-primary-light: hsl(12, 100%, 65%);
  --clr-primary-dark: hsl(0, 76%, 31%);

  --clr-accent: hsl(133, 100%, 64%);

  --clr-neutral-dark: hsl(147, 43%, 4%);
  --clr-neutral-dark-light: hsl(144, 80%, 8%);

  --clr-neutral-light: hsl(147, 41%, 95%);
  --clr-neutral-light-dark: hsl(0, 0%, 74%);

  --clr-available: var(--clr-accent);



  /* Typography */

  /* https://www.fluid-type-scale.com/calculate */

  --fs-min: clamp(0.8rem, 0.14vi + 0.77rem, 0.89rem);
  --fs-body: clamp(1rem, 0.19vi + 0.96rem, 1.13rem);
  --fs-h5: clamp(1.25rem, 0.25vi + 1.19rem, 1.42rem);
  --fs-h4: clamp(1.56rem, 0.33vi + 1.49rem, 1.79rem);
  --fs-h3: clamp(1.95rem, 0.44vi + 1.85rem, 2.25rem);
  --fs-h2: clamp(2.44rem, 0.58vi + 2.31rem, 2.84rem);
  --fs-h1: clamp(3.05rem, 0.9vi + 2.88rem, 4.57rem);

  --ff: 'Space Grotesk', system-ui, sans-serif;


}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: inherit;
  font-size: inherit;

}

::selection {
  background-color: var(--clr-accent);
  color: var(--clr-neutral-dark);
}


html:focus-within {
  scroll-behavior: smooth;
}

svg.none {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
}


img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg.icon {
  height: 1.5cap;
  display: inline;
  margin-right: .2cap;

  &.fill {
    fill: currentColor;

    &.primary {
      fill: var(--clr-primary);
    }
  }

  &.stroke {
    stroke: currentColor;

    &.primary {
      stroke: var(--clr-primary);
    }
  }


}

img {
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 1rem;
}

iframe.none {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  text-wrap: balance;
}


h1 {
  font-size: var(--fs-h1);
  font-weight: bold;
  color: var(--clr-neutral-light);

  background-image: linear-gradient(180deg, var(--clr-neutral-light), var(--clr-neutral-light-dark));
  background-clip: text;
  color: transparent;

}

h2 {
  font-size: var(--fs-h2);
  font-weight: bold;
  color: var(--clr-primary);

  background-image: linear-gradient(0deg, var(--clr-neutral-light), var(--clr-neutral-light-dark));
  background-clip: text;
  color: transparent;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: bold;
  color: var(--clr-primary);



}

h4 {
  font-size: var(--fs-h4);
  font-weight: bold;
  color: var(--clr-neutral-light);
}

h5 {
  font-size: var(--fs-h5);
  color: var(--clr-primary);
}

.caption {
  font-size: var(--fs-min);
}

a {
  text-decoration: none;
}

p {
  text-wrap: pretty;
  color: var(--clr-neutral-light-dark);
}

body,
.full-width-column,
.content-column {

  --padding-inline: 16px;
  --content-max-width: 900px;

  --content-size: min(var(--content-max-width), calc(100vw - var(--padding-inline) * 2));
  --full-width-size: minmax(0, auto);

  display: grid;
  grid-template-columns:
    [full-width-start] var(--full-width-size) [content-start] var(--content-size) [content-end] var(--full-width-size) [full-width-end];
}

:is(.content-column, .full-width-column)>* {
  grid-column: content;
}

.full-width-column {
  grid-column: full-width;
}

.content-column {
  grid-column: content;
}

html {
  scroll-behavior: smooth;
}

body {

  --header-height: 61px;

  display: grid;
  grid-template-rows: [header-start main-start] var(--header-height) [header-end] 1fr [main-end footer-start] auto [footer-end];

  background-image: radial-gradient(var(--clr-neutral-dark-light) 1px, transparent 1px);
  background-size: 32px 32px;
  background-color: var(--clr-neutral-dark);
  color: var(--clr-neutral-light);

  font-size: var(--fs-body);
  font-family: var(--ff);

  background-attachment: fixed;
  background-position: center;

  >* {
    grid-column: content;
  }


}

body>header {
  grid-row: header;
  z-index: 1;
  position: sticky;

  top: var(--_top-header);

  grid-template-rows: [light-start] 5px [light-end navigation-start] auto [navigation-end];
  align-items: center;
  row-gap: 12px;

  >label {
    visibility: hidden;
    display: grid;
    align-content: center;

    width: 30px;
    aspect-ratio: 1;

    --_line-height: 3px;
    transition: grid-template-rows .3s;

    grid-template-rows: repeat(2, var(--_line-height));
    gap: 8px;


    >span {
      background-color: var(--clr-neutral-light);
      transform-origin: center;
      transition: rotate .3s ease-out;
      border-radius: 5px;

    }

    >input {
      display: none;
      visibility: hidden;
    }
  }

  .light-bar {
    grid-row: light;
    background-color: var(--clr-neutral-light);
    height: 100%;
    box-shadow: 0 4px 20px var(--clr-neutral-light);
    z-index: 1;

  }

  #logo {
    grid-row: navigation;
    display: grid;
    --_square-size: 14px;
    grid-template-columns: repeat(3, var(--_square-size));
    grid-template-rows: repeat(2, var(--_square-size));
    width: calc(var(--_square-size) * 3);
    height: calc(var(--_square-size) * 2);

    >span {
      aspect-ratio: 1;
      background-color: var(--clr-neutral-light);

      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
  }

  nav {
    grid-row: navigation;
    justify-self: end;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 32px;

    background-color: var(--clr-neutral-dark);
    color: var(--clr-neutral-light-dark);

    padding-left: 16px;
    border-radius: 10px;

    .optional-links {
      display: contents;

      >a {
        display: flex;
        align-items: center;
        gap: 8px;
        transition: filter .3s ease-out;
      }

      &:has(a:is(:hover, :focus-visible)) a:not(:is(:hover, :focus-visible)) {
        filter: brightness(.1);
      }
    }

    .cta {
      display: grid;
      overflow: hidden;
    }


  }

  @media screen and (width < 550px) {

    .light-bar {
      z-index: 2;
    }

    >label {
      visibility: visible;

      justify-self: start;

      grid-row: navigation;
      grid-column: content;

      &:has(input:checked) {

        grid-template-rows: var(--_line-height);
        grid-template-columns: auto;

        >span {
          &.__line-1 {
            grid-row: 1;
            grid-column: 1;
            rotate: 45deg;
          }

          &.__line-2 {
            grid-row: 1;
            grid-column: 1;
            rotate: -45deg;
          }
        }
      }
    }

    #logo {

      justify-self: center;
    }

    nav {
      display: contents;

      .optional-links {

        grid-column: content;
        grid-row: unset;

        display: grid;
        gap: 12px;

        position: absolute;
        top: var(--header-height);


        >a {
          background-color: var(--clr-neutral-dark);
          padding: 12px;

          filter: blur(4px);
          translate: 0 -400%;
          scale: .5;
          transition: translate .4s, filter .5s ease-out, scale .4s ease-out;
          border: 0.5px solid var(--clr-neutral-light-dark);
          border-radius: 10px;

          svg.icon {
            height: 2cap;
          }

          &:first-child {
            z-index: 1;
          }

          &:last-child {
            transition-delay: .1s;
          }
        }

      }

      .cta {
        justify-self: end;

        grid-column: content;
        grid-row: navigation;

      }
    }

    &:has(label > input:checked) .optional-links>a {
      translate: 0 20px;
      filter: none;
      scale: 1;
    }

  }

}

body>main {
  grid-row: main;
  align-items: start;

  >section {

    margin-top: 60px;
    row-gap: 8px;
  }

  >.hero {
    margin-top: calc(-240 * clamp(0px, (100vw - 650px), 1px) + 180px);
    height: auto;

    .__header-group {

      display: grid;

      row-gap: calc(var(--_mobile-gap, 15) * clamp(0px, (100vw - 650px) * -1, 1px));

      grid-template-rows: repeat(3, auto);

      * {
        grid-column: 1;
      }

      h5 {
        font-weight: lighter;
        grid-row: 1;
      }

      .caption {
        color: var(--clr-neutral-light-dark);
        grid-row: 3;
      }

      .links {
        justify-self: end;
        grid-row: 3;
        display: flex;
        gap: 8px;

        >* {
          transition: filter .6s ease-out;
        }

        >*:is(:hover, :focus-visible) {
          filter: brightness(2);
          transition: filter .1s ease-out;
        }
      }

      @media screen and (width < 650px) {

        text-align: center;

        .links {
          justify-self: center;
          grid-row: 4;
        }

      }
    }

    .ring {
      aspect-ratio: 1;
      width: min(685px, var(--content-size));
      border-radius: 50%;
      opacity: .5;
      background-image: linear-gradient(var(--clr-neutral-light), var(--clr-primary-light) 17%, var(--clr-primary-dark) 30%, transparent 82%);

      mask-image: url(#ring-mask);
      mask-size: cover;
      z-index: -1;
    }

    .available-badge {
      animation-name: slide-in;
      margin-top: calc(280px + 50 * clamp(0px, (100vw - 650px) * -1, 1px));

      background-color: var(--clr-neutral-dark-light);
      border: 0.5px solid var(--clr-neutral-light-dark);
      border-radius: 6px;
      padding-inline: 16px;
      padding-block: 8px;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      column-gap: 8px;

      .indicator {
        background-color: var(--clr-available);
        border-radius: 50%;
        aspect-ratio: 1;
        width: 1.5cap;
        display: block;

        box-shadow: 0 0 0 0px hsl(from var(--clr-available) h s l / .5);


        animation: pulse 1s infinite ease-out;
      }
    }

    >* {
      animation-fill-mode: backwards;
      animation-name: fade-in;
    }
  }

  >.about-me {

    scroll-margin-block-start: 90px;


    margin-top: calc(90 * clamp(0px, (100vw - 650px) * -1, 1px));

    justify-items: center;

    .container {
      width: min(100%, 580px);
      background-image: radial-gradient(hsl(from var(--clr-accent) h s l /.1), transparent 60%);

      display: grid;
      gap: 1em;

      padding: 10px;

      span.bold {
        color: var(--clr-accent);
        font-weight: 700;
        text-shadow: 0 0 30px var(--clr-accent);
        word-break: keep-all;
        white-space: nowrap;
      }
    }

  }

  >.selected-projects {

    display: grid;
    row-gap: 32px;

    >.projects {

      display: grid;
      gap: 4rem;

      >.project {

        display: grid;
        gap: .5rem;

        div[role="group"] {
          margin-top: .5rem;
          display: flex;
          align-items: center;
          gap: .5rem;
          height: var(--fs-h4);
        }


        .img-wrapper {
          border-radius: 10px;
          border-bottom-left-radius: 0;
          overflow: hidden;
          isolation: isolate;


          .blur-ring {
            aspect-ratio: 1;
            width: 200px;
            backdrop-filter: saturate(9) blur(30px);
            z-index: 1;
            scale: 0;
            border-radius: 50%;

          }


          img {
            aspect-ratio: 2.2/1;
            object-fit: cover;
            transition: scale .3s ease-out, translate .3s ease-out;
          }

        }

        &:is(:hover, :focus-visible) {

          .blur-ring {
            scale: 10;
            opacity: 0;
            transition: scale .6s ease-out, opacity .4s;

          }

          img {
            scale: 1.1;
            --_translate-x: calc(-1 * var(--_mouse-x) * 50px);
            --_translate-y: calc(-1 * var(--_mouse-y) * 20px);
            translate: var(--_translate-x) var(--_translate-y);

          }

          h4 {
            text-decoration: underline;
            text-underline-offset: 3px;

            &::after {
              content: ' 🡥';
            }
          }
        }
      }

    }


  }

  >.experience {}

  >.contact {
    form {
      background-color: var(--clr-neutral-dark);
      border: 1px solid var(--clr-neutral-dark-light);
      display: grid;

      row-gap: 20px;

      padding: 24px;
      border-radius: 34px;

      >label {
        display: grid;
        row-gap: 8px;

        input,textarea{
          background-color: var(--clr-neutral-dark);
          border: none;
          border-bottom: 1px solid var(--clr-neutral-dark-light);
          resize: none;
          padding: 8px;

          &:is(textarea){
            border: 1px solid var(--clr-neutral-dark-light);
          }

          &:focus{
            outline: none;
            border-color: var(--clr-accent);
          }
        }
      }

      > label{
        transition: opacity .3s ease-out;
        border: none;
      }

      > label.submit{
        cursor: pointer;
        background-color: var(--clr-primary);

        transition: .3s ease-out;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 12px;
        border-radius: 12px;

        &:is(:hover,:focus-visible){
          background-color: var(--clr-primary-dark);
          gap: 20px;
        }

        svg:is(.checkmark, .spinner){
          display: none;
        }

        input{
          display: none;
        }

        &.loading{
          svg.paper-plane{
            display: none;
          }

          svg.spinner{
            display: block;
          }
        }

        &.done{
          background-color: var(--clr-neutral-dark-light);
          color: var(--clr-accent);


          svg:is(.spinner, .paper-plane){
            display: none;
          }

          svg.checkmark{
            display: block;
          }

        }
      
      }

      >.categories-row{

      display: grid;
      gap: 8px;

      >.categories {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        >label {
          background-color: var(--clr-primary-dark);
          padding: 10px 12px;
          flex-grow: 1;
          text-align: center;

          border-radius: 10px;
          border: 1px solid var(--clr-primary-light);
          transition: .3s;

          cursor: pointer;

          input {
            display: none;
          }

          
  
          &:has(input:checked) {
            transition: .1s;
            background-color: var(--clr-neutral-light);
            color: var(--clr-neutral-dark);
            border-color: var(--clr-neutral-light-dark);
          }

          &:hover{
            transition: .3s;
            background-color: var(--clr-primary);
          }
        }

        &:has(label:hover) label:not(:hover,:has(input:checked)){
          scale: .9;
        }
      }
    }

      &:not(:has(.categories input:checked)) > :is(label, input){
        pointer-events: none;
        opacity: .2;
      }
    }


  }
}

body>footer {
  margin-top: 32px;
  grid-row: footer;
  background-color: var(--clr-neutral-dark);
  padding-block: 16px;
  border-top: 1px solid var(--clr-neutral-dark-light);
}

.cta {
  background-color: var(--clr-primary);
  color: var(--clr-neutral-light);
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
}

.stack {
  display: grid;
  grid-template-areas: "stack";
  place-items: center;

  >* {
    grid-area: stack;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 6px transparent;
  }
}

@keyframes slide-in {
  from {
    translate: 0 200px;
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(10px);
    background: var(--_flashlight-color);
    padding: 20px;
  }

}


/* dom loaded */
body.complete {
  >main {

    .__header-group {
      animation-delay: .6s;
      --_flashlight-color: var(--clr-neutral-light);
    }

    .hero {

      .available-badge {
        animation-delay: .4s;
        animation-name: slide-in;

      }

      >* {
        animation-duration: .5s;
        animation-timing-function: ease-out;

      }

    }
  }
}