---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Experiments from '../components/Experiments.astro';
---



<Layout title="Portafolio de Anner">

	<section class="hero full-width">
	<h1>
		Todo el mundo sabe lo que es una pala.<br>
		Algunos sólo hacen <span class="bad">pozos</span>,<br>
		otros hacemos <span class="highlight">bellos jardines</span>.
	</h1>


</section>

<About />
<Experience />

<Projects />
<Experiments />
</Layout>

<style>

	.hero{

		--_height: 90vh;
		--_height: 90dvh;

		height: var(--_height);

		background: rgb(5,5,11);
		background: 
		radial-gradient(ellipse at top, transparent 30%, var(--clr-primary) 52%, var(--clr-primary-light) 62%, var(--clr-text) 80%);
		background-size: 225vw var(--_height);
		background-position: center top;
		background-repeat: no-repeat;

		border-radius: 20px;

		display: grid;
	}

	h1{
		display: block;
		margin-top: calc((var(--_height) - 5em) * 0.3);

		& span.highlight{
			color: var(--clr-accent);
			text-shadow: 0 0 .3rem var(--clr-accent);
		}
		& span.bad{
			color: #aba;
		}
	}



</style>