---
import Logo from "./Logo.astro";
---
<section>
  <h2>Acerca de mí</h2>
  <div class="content">
    <img src="/img/yo.png" alt="Imagen de Luka Saldivia">
    <div class="paragraphs">
      <p>Soy Luka Saldivia, un programador <span>autodidacta</span> con una insaciable sed de conocimiento, especializado en el universo del <span>Front-End</span>.</p>
      
      <p>Mi capacidad de asimilar nuevas tecnologías de manera eficiente se destaca como uno de mis principales atributos.</p>
        
        <p>Mi día a día es un lienzo de código, donde resuelvo desafíos con la misma pasión con la que creo <span>interfaces cautivadoras</span>.</p>
      
    </div>
    
    <div class="paragraphs phrase">
      <p>Mi enfoque va más allá de la funcionalidad; es una <span>fusión de ingenio y estética para dejar huella en cada experiencia web </span>.</p>
    </div>
    <Logo size="64"/>
    


  </div>

</section>

<style>

  .content{
    padding-block: var(--fs-400); 
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(30ch,50%),1fr));
    align-items: center;
    justify-items: center;
    gap: 1rem;

    border-collapse: collapse;
  }



  .paragraphs{
    padding-block: var(--fs-600);
    display: grid;
    gap: 1rem;
  }

  .paragraphs.phrase{
    font-style: italic;
    color: var(--clr-text);
  }

  p{
    text-wrap: pretty;
  }

  span{
    color: var(--clr-primary-light);
  }

  img{
    border-radius: 10px;
  }


</style>