---
import Icon from '../components/IconComponent/Icon.astro';
import LinkOverflow from './LinkOverflow.astro';
import Logo from './Logo.astro';


---

<header class="content-grid">
  <div class="wrapper">

    <a href="/" aria-label="Inicio">
    <Logo size="16" hover={true} />
    </a>
    
  

  
  
  
  <nav>
    <a href="https://www.linkedin.com/in/luka-saldivia" target="_blank">
    <Icon name="social:linkedin" size="24" tooltip = { {show : false} }/>
    </a>
    <a href="https://github.com/LukaSaldivia" target="_blank">
    <Icon name="social:github" size="24" tooltip = { {show : false} }/>
    </a>
    <a href="mailto:saldivialuka@gmail.com" target="_blank">
    <Icon name="misc:mail" size="24" tooltip = { {show : false} }/>
    </a>
  </nav>
</header>

<script>

const header = document.querySelector('header');

let actualScroll = 0
let top = 0
header.setAttribute("style", `--_top:${top}px`);

window.addEventListener('scroll',()=>{
  top = Math.min(-(window.scrollY - actualScroll + header.clientHeight), 0)

  if (window.scrollY  > actualScroll) {
    actualScroll = window.scrollY
  }

  if (top === 0) {
    actualScroll = window.scrollY + header.clientHeight
  }
  
  header.setAttribute("style", `--_top:${top}px`);
  header.classList.toggle('active',window.scrollY < actualScroll)
  header.classList.toggle('clr',window.scrollY > header.clientHeight * 1.5)


})

</script>

<style>

  header{
    position: sticky;
    z-index: 9;
    transition: background-color .3s ease-in-out;

    padding-block: 1.3rem;


  }

  header.active{
    top: var(--_top);
  }

  header.clr{
    background-color: var(--clr-background);
    box-shadow: -10px 0 1rem 1rem #0008;
  }
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }





  nav{
    display: flex;
    align-items: center;
    gap: 1em;
  }

  nav a{
    color: var(--clr-body);
  }
  nav a:hover{
    color: var(--clr-accent);
  }

</style>