---
import LinkOverflow from "./LinkOverflow.astro";
---

<header class="content-grid" transition:persist>
  <div class="wrapper">
  
  <a href="/" class="logo" aria-label="Inicio">
    <div class="sqr"></div>
    <div class="sqr"></div>
    <div class="sqr"></div>
  </a>


    
    

    <nav>
      <LinkOverflow content='Acerca de mí' href='about' />
      <LinkOverflow content='Contacto' href='contact' />
    </nav>
</header>

<script>

const header = document.querySelector('header');

let actualScroll = 0
let top = 0
header.setAttribute("style", `--_top:${top}px`);

window.addEventListener('scroll',()=>{
  top = Math.min(-(window.scrollY - actualScroll + header.clientHeight), 0)

  if (window.scrollY  > actualScroll) {
    actualScroll = window.scrollY
  }

  if (top === 0) {
    actualScroll = window.scrollY + header.clientHeight
  }
  
  header.setAttribute("style", `--_top:${top}px`);
  header.classList.toggle('active',window.scrollY < actualScroll)
  header.classList.toggle('clr',window.scrollY > header.clientHeight * 1.5)


})

</script>

<style>

  header{
    position: sticky;
    z-index: 9;
    transition: background-color .3s ease-in-out;

    padding-block: 1.3rem;


  }

  header.active{
    top: var(--_top);
  }

  header.clr{
    background-color: var(--clr-background);
    box-shadow: -10px 0 1rem 1rem #0008;
  }
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .logo{
    --_size:var(--fs-200);
  }

  .logo:hover .sqr{
  background-position: top right;
  box-shadow: 0 0 var(--_size) 0 var(--clr-primary);
}

  nav{
    display: flex;
    gap: 1em;
  }

</style>