---
const {content , href} = Astro.props
---

<a href={href} data-text={content}>{content}</a>

<style>
    a{
    color: transparent;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    --_top-text : 1.2em;
  }

  a:is(:hover,:focus){
    color: transparent;
  }

  a::before, a::after{
    content: attr(data-text);
    position: absolute;
    color: var(--clr-text);
    opacity: .6;
    transition: top .4s;
    left: 0;
  }


  

  a::after, a:is(:hover,:focus)::before{
    top: 0;
  }

  a::before{
    top: var(--_top-text);
    opacity: 1;
  }
  a:is(:hover,:focus)::after{
    top: calc( var(--_top-text) * -1);
  }
</style>
