---
let {size, hover} = Astro.props
size ??= 20;
hover ??= false
---

<div class:list={['logo', {'hover': hover}]} style={"--_size: "+size+"px"}>
  <div class="sqr"></div>
  <div class="sqr"></div>
  <div class="sqr"></div>
</div>

<style>
.logo{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);  
  width: fit-content;
  margin-inline: auto;
}

.logo .sqr{
  aspect-ratio: 1/1;
  width: var(--_size, 20px );

  background: linear-gradient(45deg , var(--clr-text) 10%, var(--clr-primary), var(--clr-primary-light));
  background-size: calc( var(--_size) * 16);
  transition: all .8s ease-out;
}



.logo .sqr:nth-child(1){
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
.logo .sqr:nth-child(2){
  grid-column: 1 / 3;
  grid-row: 2 / 2;
}
.logo .sqr:nth-child(3){
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.logo.hover:hover .sqr{
  background-position: top right;
  box-shadow: 0 0 var(--_size) 0 var(--clr-primary);
}
</style>